<form method="post" action="/recipes">
  <input id="hidden" type="hidden" name="_method" value="patch">

	<input type="text" name="username" placeholder="Username:">
	<input type="password" name="password" placeholder="Password:">


  <input type="submit" value="Submit">
</form>
