<ul>
  <h3>Recipe Name <%= @recipe.name %> </h3>
  <p>Recipe Ingredients <%= @recipe.ingredients %> </p>
  <p>Recipe CookTime <%= @recipe.cook_time %> </p>
  <p><a href="/recipes">Recipes Page</a></p>
</ul>
